@model QuotationSystem.Models.SalesQuotationViewModel

@if (ViewBag.ErrorMessage != null)
{

    <label class="text-danger">@ViewBag.ErrorMessage</label>
}

<link rel="stylesheet" href="~/Common/layui/css/layui.css" />
<script src="~/Common/layui/layui.js"></script>
<style type="text/css">
    #Div_Details{
        height:300px;
        overflow-y:scroll;
    }
</style>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <h4>SalesQuotationViewModel</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        
        <div class="form-group">
            @Html.HiddenFor(model => model.Sales)
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">采购员</label>
            <div class="col-md-10">
                @if (ViewBag.BuyerList != null)
                {
                    <select class="form-control" name="Buyer">
                        @foreach (var item in ViewBag.BuyerList)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.ExchangeRate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.ExchangeRate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.ExchangeRate, "", htmlAttributes: new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Fob, htmlAttributes:new {@class="control-label col-md-2"})
            <div class="col-md-10">
                @Html.EditorFor(model => model.Fob,new {htmlAttributes=new {@class="form-control" } })
                @Html.ValidationMessageFor(model => model.Fob, "", htmlAttributes:new {@class="text-danger"})
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SeaCost, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SeaCost, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SeaCost, "", htmlAttributes: new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-md-2">暗佣类别</label>
            <div class="col-md-10">
                @if (ViewBag.CommisionList != null)
                {
                    <select class="form-control">
                        @foreach (var item in ViewBag.CommisionList)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                }
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Commision, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Commision, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Commision, "", htmlAttributes: new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Other, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Other, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Other, "", htmlAttributes: new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.SalesMemo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.SalesMemo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SalesMemo, "", htmlAttributes: new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.PurchaseMemo, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.PurchaseMemo, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.PurchaseMemo, "", htmlAttributes: new { @class = "text-danger" })
            </div>
        </div>

        <hr />
        <div class="form-group" id="Div_Details">
            <table id="QuotationDetails" class="table" name="Details">
                    <tr>
                        <th>
                           商品大类
                        </th>
                        <th>
                           材质
                        </th>
                        <th>
                            形态
                        </th>
                        <th>
                           规格
                        </th>
                        <th>
                            工艺
                        </th>
                        <th>
                            数量
                        </th>
                        <th>
                            销售价(美元)
                        </th>
                        <th>
                            备注
                        </th>
                    </tr>
                    @if (Model.Details.Count>0)
                    {
                        for (int i = 0; i < Model.Details.Count; i++)
                        {
                            <tr>
                                <td>
                                    @Html.EditorFor(model => model.Details[i].ProductClass)
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.Details[i].Metal)
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.Details[i].Shape)
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.Details[i].Model)
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.Details[i].Technology)
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.Details[i].Qty)
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.Details[i].SalesPrice)
                                </td>
                                <td>
                                    @Html.EditorFor(model => model.Details[i].Memo)
                                </td>
                            </tr>
                        }
                    }
            </table>


        </div>
        <hr />

        <div id="AddDetail">
            <div class="form-group">
                <label class="control-label col-md-2">商品大类</label>
                <div class="col-md-4">
                    @if (ViewBag.SelectClass != null)
                    {
                        <select id="SelectClass" class="form-control">
                            @foreach(var item in ViewBag.SelectClass)
                            {
                                <option value="@item.Id">
                                    @item.Name
                                </option>
                            }
                        </select>
                    }
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">材质</label>
                <div class="col-md-4">
                    <input id="Detail_Metail" type="text" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">形态</label>
                <div class="col-md-4">
                    <input id="Detail_Shape" type="text" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">规格</label>
                <div class="col-md-4">
                    <input id="Detail_Model" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">工艺</label>
                <div class="col-md-4">
                    <input id="Detail_Technology" type="text" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-2">数量</label>
                <div class="col-md-4">
                    <input id="Detail_Qty" type="text" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-2">备注</label>
                <div class="col-md-4">
                    <input id="Detail_Memo" type="text" class="form-control" />
                </div>
            </div>
        </div>




        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="添加明细" class="btn btn-default" onclick="addDetail()" />
            </div>
        </div>
            <hr />

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="保存单据" class="btn btn-default" />
                </div>
            </div>
          </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script type="text/javascript">
    function addDetail() {
        var selectClass = $("#SelectClass").find("option:selected").text().trim();
        var metal = $("#Detail_Metal").val();
        var shape = $("#Detail_Shape").val();
        var model = $("#Detail_Model").val();
        var technology = $("#Detail_Technology").val();
        var qty = $("#Detail_Qty").val();
        var memo = $("#Detail_Memo").val();


        var rowCount = $("#QuotationDetails tr").length-1;

        var newRow = "<tr><td><input type='text' name='Details[" + rowCount + "].ProductClass' class='form-control' readonly='readonly' value='" + selectClass + "' /></td>";

        newRow += "<td><input type='text' name='Details[" + rowCount + "].Metal' class='form-control' readonly='readonly' value='" + metal + "' /></td>"
        newRow += "<td><input type='text' name='Details[" + rowCount + "].Shape' class='form-control' readonly='readonly' value='" + shape + "' /></td>"
        newRow += "<td><input type='text' name='Details[" + rowCount + "].Model' class='form-control' readonly='readonly' value='" + model + "' /></td>"
        newRow += "<td><input type='text' name='Details[" + rowCount + "].Technology' class='form-control' readonly='readonly' value='" + technology + "' /></td>"
        newRow += "<td><input type='text' name='Details[" + rowCount + "].Qty' class='form-control' readonly='readonly' value='" + qty + "' /></td>"
        newRow += "<td><input type='text' name='Details[" + rowCount + "].Qty' class='form-control' readonly='readonly' value='" + 0 + "' /></td>"
        newRow += "<td><input type='text' name='Details[" + rowCount + "].Memo' class='form-control' readonly='readonly' value='" + memo + "' /></td>"
        newRow += "</tr>"

        

        $("#QuotationDetails tr:last").after(newRow);

    }


</script>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
