@model IEnumerable<QuotationSystem.Models.QuotationHeaderSalesViewModel>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.QDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SalesMemo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PurchaseMemo)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fob)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ExchangeRate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SeaCost)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Commision)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Other)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.QDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SalesMemo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PurchaseMemo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fob)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ExchangeRate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SeaCost)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Commision)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Other)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
